.input_box {
    margin: 10px;
    display: block;
}

.form_holder {
    border: 5px double rgb(34, 117, 82);
    padding: 10px;
    width: 180px;
    margin: 20px;
}

.register_page{
display: flex;
justify-content: center;
}

.register_name {
    display: inline-block;
}