body {
  box-sizing: border-box;
  background-color: rgb(247, 255, 233);
  font-family: 'Roboto Mono', monospace;
}

.App {
  text-align: center;
}

nav {
  height: 8vh;
  width: 100vw;
  background-color: rgb(14, 52, 29);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > div {
  width:400px;
}

.sitename {
  color: ghostwhite;
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
}
.links {
  text-decoration: none;
  color: ghostwhite;
  font-size: 20px;
  font-weight: 600;
  margin: 15px;
}
